
@import "{{ site.theme }}";

.page-header {
    color:  rgba(120, 120, 120, 1);
    background-color:  rgba(120, 120, 120, 1);
    background-image: linear-gradient(120deg, rgba(40, 40, 40, 1),  rgba(120, 120, 120, 1));
}